body
{
    margin: 0px;
    padding: 0px;
}
.margin1
{
    margin-right: 10px;
}
.navbar-brand1
{
    display: inline-block;
    width: 100%;
} 
.bars
{
    color: black;
}
.margin2
{
    margin-top: 1%;
}
.margin3
{
    margin-bottom: 1%;
}
.background-spe
{
    background-attachment: fixed;
    background-origin: content-box;
    background-clip: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image :url(IMG_une.jpg);
}
.navbar
{
    min-height: 50px;
}
header
{
    margin-bottom: 50px;
}
.newsletter
{
    margin-top: 22%;
    color: white;
}
.margin {
    margin-bottom: 5px;
}


.recette {
    list-style-type: none;
}

.rec {
    background-color: #222222;
    color: white;
    border-radius: 25px;
}

.bggrey {
    background-color: #222222;
    padding: 20px;
    color: white;
}

.marginco{
    margin-bottom: 50%;
}

.bg {
    
}

.titre {
    font-size: 50px;
}

.ingredient {
    font-size: 25px;
    color: limegreen;
}

.list-recette {
    list-style-type: none;
    
}

.radius {
    border-radius: 35px;
}

.backtitre {
    background-color: #333333;
}

.backtitle {
    background-color: #333333;
}

.white {
   color: white;
}

.minHeight {
    min-height: 245px;
}



.backune {
    background-color: #e7e7e7;
}

.table-head {
    color: white;
    background-color: #777777;
}

.table-recette > tbody > tr > td {
    text-align: center;
}

.big {
    float:left;
    margin-right: 10px;
    font-size: 40px;     
}

.padding {
    padding: 1%;
}
